/*
 * General sizes and color attributes
 */
 
 * {
	font-family: $base-sans-serif;
	text-decoration: none;
	text-transform: initial;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 1.8rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
span,
div {
	font-family: $base-sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $body-main;
	font-weight: $regular;
}
button {
	padding: $button-padding;
}
section {
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}
h1 {
	font-size: $h1-size;
	line-height: $h1-leading;
	font-weight: $bold;
}
h2 {
	font-size: $h2-size;
	line-height: $h2-leading;
	font-weight: $semi-bold;
}
h3 {
	font-size: $h3-size;
	line-height: $h3-leading;
}
h4 {
	font-size: $h3-size;
	line-height: $h3-leading;
}
h5 {
	font-size: $h3-size;
	line-height: $h3-leading;
}
h6 {
	font-size: $h3-size;
	line-height: $h3-leading;
	font-weight: $bold;
}
a {
	color: $anaplan-fuchsia;
	text-decoration: none;
	@include transition( color 0.3s ease-in );
}
.standard-section {
	margin: 0 auto;
	padding: 60px 0;
}
.container-fixed {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	max-width: 1140px;
}
.header--white {
	color: #ffffff;
}
.header--green {
	color: $anaplan-green;
}
.header--dark-blue {
	color: $anaplan-navy-main;
}