.choose {
  &.company {
    padding-top: 0;
    text-align: center;
    background-color: #ffffff;
    img {
      margin: 1.5rem auto;
      padding: 0 2rem;
      max-width: 20rem;
    }
    &.hcty {
      .logo-cont {
        display: inline-block;
        &.four { 
          width: 30rem;
        }
        &.five {
          width: 24rem;
        }
        img {
          max-width: 100%;
          vertical-align: middle;
        }
        &.large-logos {
          img {
            max-height: 9rem;
            max-width: 24rem;
          }
        }
      }
      img {
        max-width: 100%;
        vertical-align: middle;
      }
    }
  }
}