.standard-hero {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 550px;
	background-color: $anaplan-navy-main;
	background-position: center center; //Included so you can add images to backgrounds
	background-repeat: no-repeat;
	background-size: cover;
}