.hook {
	background-color: #ffffff;
	padding-bottom: 0;
	.content {
		margin: 0 auto;
		margin-bottom: 6rem;
		text-align: center;
		img {
			width: 100%;
			max-width: 19rem;
		}
		h3 {
			margin: 1.5rem auto;
			width: 80%;
			font-size: 3rem;
			line-height: 3.6rem;
			font-weight: $bold;
			color: $anaplan-deep-blue;
		}
		p,
		a {
			font-size: $paragraph-size;
			line-height: $paragraph-leading;
			color: $anaplan-grey-type;
		}
		a {
			color: $anaplan-teal;
			@include transition(color 0.25s ease-in);
		}
	}
	&.standard-section {
		&.promo {
			.content {
				&.col-md-12 {
					margin-bottom: 3rem;
				}
			}
		}
		.content {
			&.col-md-12 {
				margin-bottom: 8rem;
				p {
					margin: 3rem auto !important;
					font-size: 2rem;
					line-height: 2.5rem;
					width: 60%;
					text-align: left;
				}
			}
		}
	}
}