.icon {
	margin: 0 1rem;
	font-size: 2.4rem;
	&.fa-check-circle {
		color: #92c73e;
	}	
	&.fa-minus-circle {
		color: #9256a1;
	}
	&.fa-exclamation-circle {
		color: #f16e21;
	}
	&.fa-times-circle {
		color: #eb2839;
	}
	&.fa-plus-circle {
		color: #00c6b1;
	}
}
