.home-introduction {
	background-color: $anaplan-teal;
	img {
		max-height: 22rem;
	}
	.home-message {
		padding: 2rem 0;
		text-align: right;
		img {
			margin-bottom:3rem;
			max-width: 26rem;
		}
		h3 {
			padding-top: 2rem;
			font-size: $paragraph-size;
			line-height: $paragraph-leading;
			font-weight: 700;
			text-align: right;
			color: $anaplan-deep-blue;
		}
	}
	.home-hook {
		padding: 2rem 0;
		h3 {
			font-size: 3rem;
			line-height: 3.6rem;
			font-weight: 700;
			color: #ffffff
		}
		p {
			padding: 2rem 0;
			font-size: $paragraph-size;
			line-height: $paragraph-leading;
			color: #ffffff
		}
	}
}
.introductory {
	margin: 0 auto;
	margin-bottom: 0;
	padding: 9rem 0 6rem;
	&.breakout-sessions {
		padding: 9rem 0 0;
	}
	&.keynote {
		display: block;
		float: inherit;
		width: 100%;
		.row {
			width: 100%;
			.content {
				p {
					width: 70%;
				}
			}
		}
	}
	p {
		margin-bottom: 0;
	}
	.row {
		margin: 0 auto;
		width: 70%;
		.content {
			h3 {
				text-align: center;
			}
			p {
				margin-bottom: 1.5rem;
				font-size: $paragraph-size;
				line-height: $paragraph-leading;
			}
		}
	}
}