.list-incidents--mobile {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    li {
        margin: 1rem auto;
        display: flex;
        width: 80%;
        .list-incidents-date {
            width: 10%;
            padding: 2rem;
            p {
                text-align: center;
            }
        }
        .list-incidents-details {
            width: 90%;
            a {
                display: block;
                padding: 2rem;
                font-weight: $bold;
                color: $anaplan-fuchsia;
                border: 0.2rem solid #3a3a3a;
                background-color: rgba(228, 0, 129, 0);
                border-radius: 0.6rem;
                @include transition(all 0.25s ease-in);
                &.list-incidents--hover {
                    .list-incidents-meta {
                        color: #ffffff;
                        span {
                            color: #ffffff;
                        }
                    }
                }
            }
            .list-incidents-scheduled {
                color: $anaplan-cpx-burnt-orange;
                &:hover,
                &:active,
                &:focus {
                    color: #ffffff;
                    background-color: $anaplan-cpx-burnt-orange;
                    border-color: $anaplan-cpx-burnt-orange;
                }
            }
            .list-incidents-incident {
                color: $anaplan-cpx-teal;
                &:hover,
                &:active,
                &:focus {
                    color: #ffffff !important;
                    background-color: $anaplan-cpx-teal;
                    border-color: $anaplan-cpx-teal;
                }
            }
            .list-incidents-meta {
                padding-right: 1rem;
                font-size: 16px;
                font-weight: $bold;
                @include transition(color $time ease-in);
                span {
                    font-weight: $regular;
                    @include transition(color $time ease-in);
                }
            }
        }
    }
}