.hubcomestoyou {
  &.promo {
    padding-bottom: 6rem;
    .content {
      &.col-md-12,
      &.col-md-8,
      &.col-md-6 {
        margin: 0 auto;
        text-align: center;
        float: inherit;
      }
      &.col-md-12 {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        a,
        li {
          text-align: center;
        }
        p {
          font-size: $paragraph-size;
          line-height: $paragraph-leading;
        }
      }
    }
  }
  &.hubcomestoyou-teal {
    background-color: $anaplan-teal;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #ffffff;
    }
  }
  &.hubcomestoyou-grey {
    background-color: $anaplan-light-grey;
  }
}
.hub-section {
  background-color: $anaplan-grey;
  .content {
    h3 {
      margin-bottom: 3rem;
    }
  }
  &.guru-zone {
    margin: 8rem 0 0;
    h3 {
      margin: 0 auto;
      text-align: center;
      width: 50%;
    }
    p {
      margin-top: 2rem;
      width: 100%;
    }
  }
  h3 {
    margin: 4rem auto;
    margin-top: 0;
    margin-left: 0;
    font-size: 3rem;
    line-height: 3.6rem;
    width: 70%;
    font-weight: $bold;
    color: $anaplan-deep-blue;
    text-align: left;
  }
  p {
    margin-left: 0;
    margin-top: 0.5rem;
    width: 80%;
		font-size: $paragraph-size;
		line-height: $paragraph-leading;
    a {
      margin-top: 1rem;
      color: $anaplan-teal;
      font-weight: $bold;
      @include transition(color 0.25s ease-in);
    }
  }
  .hub-cards {
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
    float: left;
    h4,
    p {
      font-size: $paragraph-size;
      line-height: $paragraph-leading;
      display: inline;
    }
    h4 {
      font-weight: $bold;
      color: $anaplan-pewter;
    }
    .hub-active {
      position: absolute;
      top: -30rem;
      margin: 0 auto;
      padding: 2.5rem;
      width: 100%;
      height: 100%;
      left: 0;
      background-color: #ffffff;
      z-index: 9999;
      @include transition(top 0.25s ease-in);
      h3 {
        margin: 0 auto;
        color: $anaplan-deep-blue;
        font-weight: $bold;
        font-size: 2rem;
        line-height: 2.6rem;
        text-align: left;
        width: 100%;
      }
      p {
        margin-top: 0.5rem;
        font-size: $paragraph-size;
        line-height: $paragraph-leading;
        a {
          margin-top: 1rem;
          display: block;
          color: $anaplan-teal;
          font-weight: $bold;
          @include transition(color 0.25s ease-in);
        }
      }
    }
    .hub-rest {
      position: relative;
      h3{
        position: absolute;
        margin: 0 auto;
        margin-top: 35%;
        width: 100%;
        font-size: 3rem;
        line-height: 3.6rem;
        font-weight: 700;
        text-align: center;
        color: #ffffff;
        z-index: 999;
      }
      p {
        position: relative;
        z-index: 0;
        img {
          max-width: 100%;
          z-index: 0;
        }
      }
    }
  }
}
.standard-section {
  &.standard-section--blue {
    background-color: #edf6f8;
  }
  .standard-col--center {
    margin: 0 auto;
    text-align: center;
  }
}
.standard-section--animated {
    top: 150px;
    opacity: 0;
    @include transition(all $time ease-in);
    &.inactive {
      top: 0;
      opacity: 1;
    }
}