a {
	&:hover,
	&:active,
	&:focus {
		color: $anaplan-fuchsia-hover;
		text-decoration: none;
	}
}
.btn {
	&.btn-pink,
	&.btn-primary {
		&:hover,
		&:focus,
		&:active {
			transform: scale(1.1);
			background-color: $anaplan-fuchsia-hover;
		}
	}
	&.btn-text {
		&:hover,
		&:focus,
		&:active {
			color: $anaplan-fuchsia-hover;
		}
	}
}
.animation-margin {
	&.active {
		margin-top: 0 !important;
		opacity: 1 !important;
	}
}
.site-copyright {
	.site-info {
		a:hover,
		a:focus,
		a:active {
			text-decoration: none;
		}
	}
}
footer {
	&.site-footer {
		h3 {
			color: #ffffff;
		}
		li a {
			color: #ffffff;
			text-decoration: none;
		}
	}
}