.site-wrapper {
	.why-video {
		padding: 8rem 0;
		max-height: 1200px;
		background-color: $anaplan-pewter;
		will-change: max-height;
		@include transition(all 0.25s ease-in);
		h2 {
			margin: 0 auto;
			margin-bottom: 3rem;
			display: block;
			font-size: 3rem;
			line-height: 3.6rem;
			font-weight: 700;
			text-align: center;
			color: #ffffff;
			width: 100%;
		}
		a {
			img {
				margin: 0 auto;
				display: block;
				width: 100%;
			}
		}
	}
}