footer {
	&.site-footer {
		position: relative;
		padding: 90px 0 60px;
		top: 100%;
		bottom: 0;
		width: 100%;
		background-color: $anaplan-navy-main;
		h3 {
			font-size: 1.90px;
			font-weight: $bold;
			color: #ffffff;
		}
		li {
			a {
				color: #ffffff;
				text-decoration: none;
			}
		}
		ul {
			margin: 20px auto;
			li {
				margin-bottom: 12px;
				list-style: none;
				a {
					font-size: 14px;
					line-height: 18px;
					color: #ffffff;
					text-decoration: none;
				}
			}
		}
		.sep {
			color: $anaplan-navy-main;
		}
		.footer-social {
			.footer-social-wrap {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				li {
					padding-right: 10px;
					a {
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 1.80px;
						color: $anaplan-navy-main;
						width: 36px;
						height: 36px;
						background-color: #ffffff;
						@include border-radius(36px);
					}
				}
				.footer-social-screen-only {
					position: absolute;
					top: -10000em;
					width: 1px;
					height: 1px;
					margin: -1px;
					padding: 0;
					overflow: hidden;
					clip: rect(0,0,0,0);
					border: 0;
				}
			}
		}
	}
	.site-info {
		text-align: center;
		color: $anaplan-navy-main;
		font-size: $p-size;
		line-height: $p-leading;
		p,
		a {
			color: $anaplan-navy-main;
			font-size: $p-size;
			line-height: $p-leading;
		}
		img {
			margin: 20px auto 10px;
			width: 100px;
		}
	}

}

.site-copyright {
	padding: 20px;
	background-color: $body-main;
	.site-info {
		font-size: $small-size;
		line-height: $small-leading;
		color: rgba(255,255,255,0.86);
		a {
			font-size: $small-size;
			line-height: $small-leading;
			font-weight: 300;
			color: rgba(255,255,255,0.86);
			@include on-event {
				text-decoration: none;
			}
		}
		&.site-info--right { 
			@include breakpoint(laptop) {
				float: right;
				text-align: right;			
			}
		}
		&.site-info--left { 
			@include breakpoint(laptop) {
				float: left;
				text-align: left;			
			}
		}
	}
}