.btn {
	padding: 5px 20px;
	font-size: 18px;
	line-height: 24px;
	font-weight: $font--medium;
	color: $white;
	background-color: $anaplan-teal;
	border-color: $anaplan-teal;
	@include border-radius(20px);
	@include transition(all 0.25s ease-in);
	@include on-event {
		background-color: hover_color($anaplan-teal);
		border-color: hover_color($anaplan-teal);
	}
	&.btn-pink,
	&.btn-primary {
		color: $white;
		background-color: $anaplan-teal;
		border-color: $anaplan-teal;
		@include on-event {
			color: $white;
			background-color: hover_color($anaplan-teal);
			border-color: hover_color($anaplan-teal);
		}
	}
	&.btn-gray {
		background-color: #707c7c;
		border-color: #707c7c;
		color: $white;
		@include on-event {
			background-color: hover_color(#707c7c);
			border-color: hover_color(#707c7c);
			color: $white;
		}
	}
	&.btn-text {
		@include on-event {
			color: hover_color($anaplan-teal);
		}
	}
}
.btn-container {
	display: inline-block;
	margin: 0 !important;
	margin-right: 10px !important;
}

.ast-button-wrap button.menu-toggle {
	height: auto;
}