.flip {
  display: flex;
  justify-content: center;
  @include breakpoint(laptop-max) {
    flex-wrap: wrap;
  }
  .flip-container {
    display: flex;
    margin: 0 20px;
    perspective: 1000px;
    //width: calc(33% - 50px);
    @include breakpoint(laptop-max) {
      margin: 20px auto;
    }

    .flip-card,
    .front,
    .back {
      width: 300px;
      height: 300px;
    }

    .flip-card {
      display: flex;
      flex-direction: column;
      position: relative;
      transition: 0.5s all;
      background-color: rgba(33, 39, 92, 0.5);
      @include transition(all 0.3s ease-in);
    }

    .front, .back {
      position: absolute;
      backface-visibility: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #fff;

      h2,
      h3,
      p {
        position: relative;
        text-align: center;
        color: #fff;
        @include transition(all 0.3s ease-in);
      }

      h2 {
        line-height: 1.1em;
        margin-bottom: 20px;
      }
    }

    .front {
      h2,
      h3,
      p {
        top: 20px;
      }
    }
    .back {
      h2,
      h3,
      p {
        top: 0;
      }
    }

    .front {
      z-index: 1;
      //transform: rotateY(180deg) translateZ(1px);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 20px;
      opacity: 0;
      background-color: rgba(33, 39, 92, 0.8);
      @include transition(all 0.3s ease-in);
      h2 {
        margin: 20px 0;
        font-size: 24px;
      }

      h3 {
        margin: 0;
        margin-bottom: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.1em;
      }

      p {
        font-size: 16px;
        line-height: 1.2em;
      }

      a.overview {
        background-color: $anaplan-red;
        padding: 5px 20px;
        min-height: 30px;
        border-radius: 15px;
        line-height: 28px;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        transition: all 0.3s;

        &:hover {
          color: $anaplan-red;
          background-color: #fff;
        }
      }
    }

    .back {
      z-index: 2;
      //transform: rotateY(0deg) translateZ(1px);
      border-bottom: 8px solid $anaplan-red;
      padding: 80px 20px 20px 20px;
      opacity: 1;
      @include transition(all 0.3s ease-in);
    }
  }

  .flip-container:hover {
    .flip-card { 
      cursor: pointer;
      transform: scale(1.1);
      .back {
        opacity: 0;
        z-index: 1;
        h2,
        h3,
        p {
          top: 20px;
        }
      }
      .front {
        opacity: 1;
        z-index: 2;
        h2,
        h3,
        p {
          top: 0;
        }
      }
    }
  }

  /*
  .flip-container:hover .flip-card {
    transform: rotateY(180deg) translateZ(1px);
  }*/

}

