nav {
    .navbar-nav {
        display: none;
    }
}

/*
	I've included a pseudo pug markup file within templates for the navbar. It's not exactly what we use, but it should work with this file.
*/

li.dropdown_link {
	position: static;
}
[canvas=container],
[off-canvas],
.ast-main-header-nav-open {
	overflow: hidden;
	.main-header-bar {
		overflow-y: visible !important;
	}
}

//Breakpoint for Astra. When theme is removed, add to _media.scss
.ast-header-break-point {
	&.ast-theme-transparent-header {
		.main-header-bar {
			padding-top: 0;
			background: transparent !important;
		}
	}
	.site-branding {
		padding: 0 !important;
		.ast-site-identity {
			padding: 0 !important;
		}
	}
	.ast-mobile-menu-buttons {
		padding-bottom: 0 !important;
		.ast-button-wrap button.menu-toggle {
			height: 60px;
		}
	}
	.menu-toggle {
		.menu-toggle-icon {
			line-height: 0;
		}
	}
	.menu-toggle-icon {
		&:before {
			padding: 6px;
			color: #ffffff;
			background-color: $anaplan-fuchsia;
			border-radius: 6px;
			@include transition(background-color 0.3s ease-in);
			&:hover {
				background-color: hover_color($anaplan-fuchsia);
			}
		}
	}
	.custom-logo-link,
	.ast-sticky-custom-logo .ast-header-sticked .custom-logo-link,
	.ast-sticky-custom-logo .ast-header-sticked .custom-mobile-logo-link {
		display: inline-block;
	}
	.main-header-bar {
		.main-header-bar-navigation {
			display: block;
			&.toggle-on {
				padding-top: 0;
			}
		}
	}
	.main-header-bar {
		padding-top: 0;
	}
	&.ast-main-header-nav-open {
		#site-navigation {
			left: 0;
		}
	}
	#site-navigation {
		position: relative;
		left: 100%;
		height: 100%;
		@include transition(left 0.3s ease-in);
		.main-navigation {
			padding-left: 0;
			vertical-align: top;
			#primary-menu {
				position: relative;
				display: flex;
				flex-wrap: wrap;
				margin: 0;
				padding-left: 0;
				list-style: none;
				background-color: #ffffff;
				> li {
					position: relative;
					display: flex;
					height: 100%;
					> a {
						display: flex;
						padding-left: 20px;
						color: $body-main-light-grey;
						align-items: center;
						height: 45px;
					}
					button {
						display: flex;
						justify-content: center;
						align-items: center;
						margin: 0;
						padding: 0;
						top: 0;
						height: 45px;
						line-height: 0;
						border: 0;
					}
				}
				> .menu-item {
					position: relative;
					display: block;
					&.sub-menu-container-50 {
						&.active > .sub-menu {
							width: 100%;
						}
					}
					&.active > .sub-menu ,
					&.ast-submenu-expanded > .sub-menu {
						position: relative;
						display: flex;
						width: 100%;
						left: 0;
						background-color: rgba(255,255,255,0.94);
						border: none;
						border-top: 7px solid $anaplan-navy-main;
						box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
						.sub-menu {
							position: relative;
							display: flex !important;
							align-items: center;
							justify-content: flex-start;
							flex-wrap: wrap;
							border: none;
							left:0;
							background: none;
							width: 100%;
							box-shadow: none;
							background-color: #ffffff;
						}
						button:before,
						a:before {
							display: none;
						}
					}
					.sub-menu {
						background-color: #ffffff;
						.sub-menu-title {
							padding: 0 10px;
							font-size: 18px;
							font-weight: bold;
							color: $body-main-dark;
							&.sub-menu-title-hidden-left {
								> a {
									margin-right: 0;
								}
							}
							&.sub-menu-title-hidden-right {
								> a {
									padding: 0;
									height: 0;
								}
							}
							> a {
								margin: 5px 0;
								padding: 15px 10px 10px;
								font-size: 18px;
								font-weight: bold;
								color: $body-main-dark;
								border-bottom: 1px solid $anaplan-navy-main;
							}
						}
						li {
							display: inline-block;
							font-size: 16px;
							line-height: 21px;
							max-width: 100%;
							width: 100%;
							color: $body-main-light-grey;
							border: none;
							a {
								padding-left: 10px;
								padding-right: 10px;
								font-size: 16px;
								line-height: 21px;
								color: $body-main-light-grey;
								border: none;
								&:after {
									display:none;
								}
							}
							.sub-menu {
								li {
									margin-bottom: 4px;
									font-size: 16px;
									line-height: 20px;
									color: #7a7a7a;
									border: none;
									&.current-menu-item {
										&:after {
											transform: scale(0);
										}
									}
									&.sub-menu-link-fuchsia {
										a {
											color: $anaplan-fuchsia;
											@include transition(color 0.3s ease-in);
											&:hover {
												color: hover_color($anaplan-fuchsia);
											}
											&:after {
												transform: scale(0) !important;
											}
										}
									}
									&.sub-menu-title {
										margin-bottom: 10px;
										font-size: 18px;
										font-weight: bold;
										color: $body-main-dark;
										border-bottom: 1px solid $body-main-dark;
									}
									&.sub-menu-img {
										display: none;
										a {
											padding-bottom: 0;
										}
									}
									a {
										padding: 5px 10px;
										width: 100%;
										&.sub-menu-button {
											background-color: $anaplan-fuchsia;
											&:hover,
											&:focus,
											&:active {
												background-color: $anaplan-fuchsia-hover;
											}
										}
										&:after {
											position: absolute;
											display: block;
											content: "";
											top: 45px;
											left: 15px;
											right: 15px;
											height: 3px;
											background-color: $body-main-dark;
											transform: scale(0);
											@include transition(transform 0.3s ease-in);
										}
										&:hover:after {
											transform: scale(0);
										}
										&.sub-menu-image:hover:after {
											transform: scale(0);
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

#masthead {
	position: fixed !important;
	height: 75px;
	background-color: $anaplan-white;
	nav {
		&.navbar {
			display: flex;
			margin: 0 auto;
			justify-content: center;
			align-items: center;
			height: 75px;
			background-color: $anaplan-white;
			.navbar-container {
				display: flex;
                align-items: center;
                height: 75px;
                width: 100%;
                max-width: $max-width;
                .navbar-container-50 {
                    display: flex;
                    align-items: center;
                    width: 50%;
                    &.navbar-container--left {
                        justify-content: flex-start;
                    }
                    &.navbar-container--right {
                        justify-content: flex-end;
                    }
				}
				.navbar-collapse {
					position: fixed;
					top: 75px;
					left: 0;
					display: flex;
					justify-content: center;
					align-items: flex-start;
					overflow-y: scroll;
					height: 100%;
					width: 100%;
					background-color: rgba(0,20,47,0.9);
					.menu-main-nav-container {
						width: 100%;
						max-width: $max-width;
					}
					ul {
						li {
							padding-top: 60px;
							list-style: none;
							width: 33%;
							> a {
								margin-bottom: 40px;
								color: $anaplan-white;
								font-weight: $font--bold;
								max-width: 100%;
								&::after {
									position: absolute;
									content: '';
									margin-top: 40px;
									width: 30px;
									border-bottom: 2px solid $anaplan-green;
								}
							}
							ul {
								margin: 0;
								li {
									padding: 0;
									width: 100%;
									a {
										margin: 0;
										font-weight: $font--book;
										&::after {
											border: none;
										}
									}
								}
							}
						}
					}
				}
				.navbar-nav {
					display: flex;
					flex-wrap: wrap;
					width: 100%;
				}
			}
			a {
				display: flex;
				width: 100%;
				max-width: 136px;
			}
			form {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 50%;
				label {
                    margin: 0;
                    margin-right: 10px;
					width: 100%;
					input {
						&.search-field {
							padding: 0 10px;
							height: 30px;
							width: 100%;
                            border-radius: 30px;
                            background-color: #efefef;
							&::placeholder {
								font-family: $base-sans-serif;
								font-size: 16px;
								font-weight: $font--book;
							}
                        }
                        @include on-event {
                            border-color: hover_color($anaplan-green);
                        }
					}
				}
				.search-submit {
					display: none;
				}
            }
            .login-container {
                a {
                    font-size: 16px;
                    font-weight: $font--bold;
                }
            }
		}
	}
}


#primary-menu {
	> .menu-item {
		> .sub-menu {
			.current-menu-item {
				&:after {
					position: absolute;
					display: block;
					content: "";
					top: 45px;
					left: 15px;
					right: 15px;
					height: 3px;
					background-color: $body-main-dark;
					transform: scale(1);
					@include transition(transform 0.3s ease-in);
				}
			}
		}
	}
}

.ast-above-header {
	padding: 0;
	.ast-above-header-section {
		li {
			a {
				font-size: 14px;
			}
		}
		.astra-search-icon {
			font-size: 18px;
		}
	}
}

