/*
 * Type faces & weights
 */

$base-sans-serif: Proxima Nova, proxima-nova, sans-serif;
$regular: 300;
$semi-bold: 400;
$bold: 700;

$paragraph-size: 1.8rem;
$paragraph-leading: 2.4rem;

$h3-size: 2.1rem;
$h3-leading: 2.6rem;

$small-size: 1.4rem;
$small-leading: 1.9rem;